body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body::-webkit-scrollbar-track {
  background: #616161;
}
body::-webkit-scrollbar-thumb {
  background: #9E9E9E;
}
::-webkit-scrollbar {
  width: 6px;
}
.app-main-container {
  width: 1920px;
  background: #424242;
}
.app-header {
  width: 100%;
  height: 150px;
  background: #FF4081;
  position: relative;
}
.app-header-svg-groups {
  position: absolute;
  top: 10%;
  right: 25%;
  width: 15%;
  height: 25%;
}
.app-svg-groups {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.app-svg-groups-el {
  list-style: none;
  margin-left: 10%;
}
.app-svg-groups-el-line {
  position: absolute;
  transform: 0.3s;
}
.app-svg-groups-el-link {
  display: block;
  position: relative;
  width: 100%;
  height: 10%;
  line-height: 100%;
  font-size: 100%;
  text-decoration: none;
  color: #262626;
  transition: 0.3s;
}
.app-burger-menu {
  position: absolute;
  top: 30%;
  left: 5%;
}
.app-burger-menu-navlink span:after {
  display: inline-block;
  width: 2%;
  height: 15%;
  background-color: black;
  transform: rotate(250deg);
  margin-top: 15%;
}
.app-burger-menu-navlink span {
  display: inline-block;
  width: 2%;
  height: 15%;
  background-color: black;
  transform: rotate(300deg);
}
.app-burger-menu-navlink span:before,
.app-burger-menu-navlink span:after {
  content: "";
  display: block;
  transition: 0.3s;
}
.app-burger-menu-nav:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  margin-left: 10%;
  margin-top: -7%;
  border-bottom: 10px solid #EEEEEE;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.app-burger-menu-nav {
  transition: 0.3s;
  transform-origin: top center;
  transform: scaleY(0) translateY(20%);
  opacity: 0;
  background: #EEEEEE;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 10%;
  width: 100%;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 10%;
}
.app-burger-menu-nav-active {
  opacity: 1;
  transform: scaleY(1) translateY(0%);
}
.app-burger-menu-navlink {
  display: block;
  text-decoration: none;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.07em;
  color: #424242;
  margin-left: 13px;
  margin-top: 8px;
  margin-bottom: 4px;
}
.app-burger-menu-clicker {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
}
.app-burger-menu-clicker span,
.app-burger-menu-clicker span::before,
.app-burger-menu-clicker span::after {
  position: absolute;
  top: 50%;
  margin-top: -6%;
  left: 55%;
  margin-left: -45%;
  width: 80%;
  height: 3px;
  background: #EEEEEE;
}
.app-burger-menu-clicker span::before,
.app-burger-menu-clicker span::after {
  content: "";
  display: block;
  transition: 0.5s;
}
.app-burger-menu-clicker span::before {
  transform: translateY(-15px);
}
.app-burger-menu-clicker span::after {
  transform: translateY(15px);
}
.app-burger-menu-clicker span {
  height: 0;
}
.app-burger-menu-clicker-active span:before {
  transform: rotate(45deg);
}
.app-burger-menu-clicker-active span:after {
  transform: rotate(-45deg);
}
.app-burger-menu .line {
  border: 2px solid #EEEEEE;
  padding: 0;
  margin-top: 10px;
}
svg {
  margin: 15px;
}
ul li span:nth-child(2),
ul li span:nth-child(4) {
  width: 10%;
  height: 100%;
  background: #EEEEEE;
}
ul li span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: top;
  transition: transform 0.3s;
}
ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.3s;
}
ul li span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 0.3s;
}
ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: top;
  transition: transform 0.3s;
}
@media (max-width: 1300px) {
}
@media (max-width: 1200px) {
  .app-main-container {
    width: 1300px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .app-main-container {
    width: 1199px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .app-main-container {
    width: 991px;
  }
}
@media (max-width: 767px) {
  .app-main-container {
    width: 768px;
  }
}
@media (max-width: 480px) {
  .app-main-container {
    width: 767px;
  }
  .app-main-container .app-header-svg-groups {
    right: 52%;
  }
}
@media (max-width: 320px) {
  .app-main-container {
    width: 480px;
  }
  .app-header-svg-groups {
    top: -10%;
    margin-right: 60px;
  }
  .app-burger-menu {
    top: 50%;
    left: 40%;
  }
  .app-svg-groups {
    top: -50%;
  }
  .app-svg-groups-el-link {
    right: 40px;
  }
  svg {
    margin-left: 10px;
    left: 60px;
  }
}
/*# sourceMappingURL=main.css.map */